* {
margin: 0;
padding: 0;
}
body{
background: rgba(0, 0, 0, 0.5) url('img/dinosaur-era_186469-1600x1200.jpg');
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
h1{
text-align: center;
}
h2{
text-align: center;
}
.flex{
display: flex;
max-width: 1300px; 
margin: 0 auto;
font-size:28px;
}

.mainitem, .item{
flex-grow:2;
background:#b5ced8;
display: flex; justify-content: center; align-items: center;
}

.mainitem{
min-height:300px; 
}

.sideitem{
flex-grow:1.5;	
flex-basis:150px;
flex-shrink:0;
display: flex;
flex-direction: column;
}

.item{
flex-basis:50%;
min-height:250px;
margin-left:10px;
}
.item:first-child{ margin-bottom:10px; }


@media screen and (max-width: 600px) {
.flex{ flex-wrap: wrap; }
.sideitem{ flex-direction:row; flex-basis:100%; }
.item{ margin-left:0; margin-top:10px; }
.item:first-child{ margin-bottom:0; margin-right:10px; }
}


@media screen and (max-width: 450px) {
.sideitem{ flex-wrap: wrap; } 
.item{ flex-basis:100%; } 
.item:first-child{ margin-right:0; }
}

form{
text-align: center;
}

input {
width: 250px;
height: 50px;
background-color: #EFF0F1;
border: 0px;
color: #000000;
padding: 10px;
font-size: 14px;
opacity: 0.5;
}

.bttn1 {
width: 150px;
height: 40px;
background: #FFFF00;
color: #FF0000;
font-weight: 600;
font-size: 12px;
text-align: center;
}
.bttn2 {
width: 150px;
height: 40px;
background: #FFFF00;
color: #FF0000;
font-weight: 600;
font-size: 12px;
text-align: center;
margin-left:46%;
}
.tablaaa{
width: 100px;
height: 100px;
}

.tablaaa:hover{
transition: all 2s ease-in-out;
transition-timing-function: 2s;
transform: rotate(0.5turn);
}